{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/indexstyle.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
    </header>

    <nav>
        <ul>
            <li class="dropdown">
                    <a href="#" class="dropbtn">Categories</a>
                    <div class="dropdown-content">
                        <a href="/category/Home">Category 1</a>
                        <a href="/category/Jewelry">Category 2</a>
                        <a href="#">Category 3</a>
                    </div>
                </li>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'userchangepwd' %}">Change Password</a></li>
            <li><a href="{% url 'viewusers' %}">view Users</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'addproduct' %}">Add Products</a></li>
            <li><a href="{% url 'viewproducts' %}">view Products</a></li>
            <li><a href="{% url 'getcart' %}">cart</a></li>
            <li><a href="{% url 'viewprofile' %}">View Profile</a></li>

        </ul>
    Welcome {{uname}}
    </nav>

    <section>

    CART
    </section>

    <section>
  <h1>Products:{{count}}</h1>
      <div class="cards-container">
        {% for p in pro %}
        <!-- Add more cards here -->
        <!-- Example: -->
        <div class="card image">
          <img src="{{p.image.url}}" alt="Product 8 image">
          <h2>{{p.name}}</h2>
          <p>{{p.description}}</p>
          <p class="price">Rs.{{p.price}}</p>
          <div class="butstyle">
            <a href=""><button>Remove Product</button></a>
        </div>
        </div>
           {% endfor %}
    </section>

    <footer>
       DESIGNED BY MANI
    </footer>
</body>
</html>
