{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/contactstyle.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'login' %}">LogIn</a></li>
            <li><a href="{% url 'registration' %}">Registration</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Contact Us</h2>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Your name">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Your email">

            <label for="message">Message:</label>
            <textarea id="message" name="message" placeholder="Your message"></textarea>

            <input type="submit" value="Submit">
        </form>
    </section>

    <footer>
        <p>Desined by mani</p>
    </footer>
</body>
</html>
