{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/indexstyle.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'login' %}">LogIn</a></li>
            <li><a href="{% url 'registration' %}">Registration</a></li>
        </ul>
    </nav>

    <section>
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend semper enim, vel aliquet ex. Donec ut elementum ligula.</p>
    </section>

    <section>
        <h2>Services</h2>
        <ul>
            <li>Web Design</li>
            <li>Graphic Design</li>
            <li>SEO</li>
        </ul>
    </section>

    <footer>
       DESIGNED BY MANI
    </footer>
<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings =
            {"appId":"174922c107487d4fbaf8de00b01572b46","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
</body>
</html>
